@model Product
@{
    ViewData["Title"] = "商品详情";
}

<div class="product">
    <div class="container">
        <div class="col-md-3 product-price">

            <div class=" rsidebar span_1_of_left">
                <div class="of-left">
                    <h3 class="cate">分类</h3>
                </div>
                <ul class="menu">
                    <li class="item1">
                        <a href="#">不同场合</a>
                        <ul class="cute">
                            <li class="subitem1">
                                <a href="/product/situation/聚会">聚会&年会 </a>
                            </li>
                            <li class="subitem2">
                                <a href="/product/situation/面试">面试</a>
                            </li>
                            <li class="subitem3">
                                <a href="/product/situation/户外娱乐">户外娱乐 </a>
                            </li>
                        </ul>
                    </li>
                    <li class="item2">
                        <a href="#">不同风格 </a>
                        <ul class="cute">
                            <li class="subitem1">
                                <a href="/product/style/职业">职业风 </a>
                            </li>
                            <li class="subitem2">
                                <a href="/product/style/休闲">休闲风 </a>
                            </li>
                            <li class="subitem3">
                                <a href="/product/style/运动">运动风 </a>
                            </li>
                            <li class="subitem3">
                                <a href="/product/style/淑女">淑女风</a>
                            </li>
                        </ul>
                    </li>

                </ul>
            </div>
            <!--initiate accordion-->
            <script type="text/javascript">
                $(function () {
                    var menu_ul = $('.menu > li > ul'),
                        menu_a = $('.menu > li > a');
                    menu_ul.hide();
                    menu_a.click(function (e) {
                        e.preventDefault();
                        if (!$(this).hasClass('active')) {
                            menu_a.removeClass('active');
                            menu_ul.filter(':visible').slideUp('normal');
                            $(this).addClass('active').next().stop(true, true).slideDown('normal');
                        } else {
                            $(this).removeClass('active');
                            $(this).next().stop(true, true).slideUp('normal');
                        }
                    });

                });
            </script>
            <!---->
            <div class="product-middle">

                <div class="fit-top">
                    <h6 class="shop-top">Lorem Ipsum</h6>
                    <a href="#" class="shop-now">SHOP NOW</a>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div class="sellers">
                <div class="of-left-in">
                </div>
            </div>
            <!---->
            <div class="product-bottom">
                <div class="of-left-in">
                    <h3 class="best">Best Sellers</h3>
                </div>
                <div class="product-go">
                    <div class=" fashion-grid">
                        <a href="#">
                            <img class="img-responsive " src="images/p1.jpg" alt="">
                        </a>

                    </div>
                    <div class=" fashion-grid1">
                        <h6 class="best2">
                            <a href="#">Lorem ipsum dolor sit amet consectetuer </a>
                        </h6>

                        <span class=" price-in1"> $40.00</span>
                    </div>

                    <div class="clearfix"> </div>
                </div>
                <div class="product-go">
                    <div class=" fashion-grid">
                        <a href="#">
                            <img class="img-responsive " src="images/p2.jpg" alt="">
                        </a>

                    </div>
                    <div class="fashion-grid1">
                        <h6 class="best2">
                            <a href="#">Lorem ipsum dolor sit amet consectetuer </a>
                        </h6>

                        <span class=" price-in1"> $40.00</span>
                    </div>

                    <div class="clearfix"> </div>
                </div>

            </div>
            <div class=" per1">
                <a href="#">
                    <img class="img-responsive" src="~/images/pro.jpg" alt="">
                    <div class="six1">
                        <h4>DISCOUNT</h4>
                        <p>Up to</p>
                        <span>60%</span>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-9 product-price1">
            <div class="col-md-5 single-top">
                <div class="flexslider">
                    <ul class="slides">
                        <li data-thumb="~/images/@Model.ImageName">
                            <img src="~/images/@Model.ImageName" />
                        </li>
                        <li data-thumb="~/images/@Model.ImageName">
                            <img src="~/images/@Model.ImageName" />
                        </li>
                        <li data-thumb="~/images/@Model.ImageName">
                            <img src="~/images/@Model.ImageName" />
                        </li>
                        <li data-thumb="~/images/@Model.ImageName">
                            <img src="~/images/@Model.ImageName" />
                        </li>
                    </ul>
                </div>
                <!-- FlexSlider -->
                <script defer src="js/jquery.flexslider.js"></script>
                <link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen" />

                <script>
                    // Can also be used with $(document).ready()
                    $(window).load(function () {
                        $('.flexslider').flexslider({
                            animation: "slide",
                            controlNav: "thumbnails"
                        });
                    });
                </script>
            </div>

            <div class="col-md-7 single-top-in simpleCart_shelfItem">
                <div class="single-para ">
                    <h4>@Model.Name</h4>
                    <div class="star-on">
                        <ul class="star-footer">
                            <li>
                                <a href="#">
                                    <i> </i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i> </i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i> </i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i> </i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i> </i>
                                </a>
                            </li>
                        </ul>
                        <div class="review">
                            <a href="#"> 1 customer review </a>

                        </div>
                        <div class="clearfix"> </div>
                    </div>

                    <h5 class="item_price">$ @Model.Price</h5>
                    <p>
                        @Model.SimpleDescription
                        magna aliquam erat
                    </p>
                    <div class="available">
                        <ul>
                            <li>
                                Color
                                <select>
                                    <option>Silver</option>
                                    <option>Black</option>
                                    <option>Dark Black</option>
                                    <option>Red</option>
                                </select>
                            </li>
                            <li class="size-in">
                                Size
                                <select>
                                    <option>Large</option>
                                    <option>Medium</option>
                                    <option>small</option>
                                    <option>Large</option>
                                    <option>small</option>
                                </select>
                            </li>
                            <div class="clearfix"> </div>
                        </ul>
                    </div>

                    <a id="add-to-shopping-cart" class="add-cart item_add">加入购物车</a>
                </div>
            </div>
            <div class="clearfix"> </div>
            <!---->

            <div class="cd-tabs">
                <nav>
                    <ul class="cd-tabs-navigation">
                        <li>
                            <a data-content="fashion" href="#0">Description </a>
                        </li>
                        <li>
                            <a data-content="cinema" href="#0">Addtional Informatioan</a>
                        </li>
                    </ul>
                </nav>
                <ul class="cd-tabs-content">
                    <li data-content="fashion">
                        <div class="facts">
                            <p>
                                @Model.DetailDescription
                            </p>
                            <ul>
                                <li>Research</li>
                                <li>Design and Development</li>
                                <li>Porting and Optimization</li>
                                <li>System integration</li>
                                <li>Verification, Validation and Testing</li>
                                <li>Maintenance and Support</li>
                            </ul>
                        </div>
                    </li>
                    <li data-content="cinema">
                        <div class="facts1">

                            <div class="color">
                                <p>Color</p>
                                <span>Blue, Black, Red</span>
                                <div class="clearfix"></div>
                            </div>
                            <div class="color">
                                <p>Size</p>
                                <span>S, M, L, XL</span>
                                <div class="clearfix"></div>
                            </div>

                        </div>

                    </li>
                    <li data-content="television" class="selected">
                        <div class="comments-top-top">
                            <div class="top-comment-left">

                            </div>
                            <div class="top-comment-right">
                            </div>
                            <div class="clearfix"> </div>

                        </div>
                    </li>
                    <div class="clearfix"></div>
                </ul>
            </div>
            <div class=" bottom-product">
                <div class="col-md-4 bottom-cd simpleCart_shelfItem">
                    <div class="product-at ">
                        <a href="#">
                            <img class="img-responsive" src="images/pi3.jpg" alt="">
                            <div class="pro-grid">
                                <span class="buy-in">Buy Now</span>
                            </div>
                        </a>
                    </div>
                    <p class="tun">It is a long established fact that a reader</p>
                    <a href="#" class="item_add">
                        <p class="number item_price">
                            <i> </i>$500.00
                        </p>
                    </a>
                </div>
                <div class="col-md-4 bottom-cd simpleCart_shelfItem">
                    <div class="product-at ">
                        <a href="#">
                            <img class="img-responsive" src="images/pi1.jpg" alt="">
                            <div class="pro-grid">
                                <span class="buy-in">Buy Now</span>
                            </div>
                        </a>
                    </div>
                    <p class="tun">It is a long established fact that a reader</p>
                    <a href="#" class="item_add">
                        <p class="number item_price">
                            <i> </i>$500.00
                        </p>
                    </a>
                </div>
                <div class="col-md-4 bottom-cd simpleCart_shelfItem">
                    <div class="product-at ">
                        <a href="#">
                            <img class="img-responsive" src="images/pi4.jpg" alt="">
                            <div class="pro-grid">
                                <span class="buy-in">Buy Now</span>
                            </div>
                        </a>
                    </div>
                    <p class="tun">It is a long established fact that a reader</p>
                    <a href="#" class="item_add">
                        <p class="number item_price">
                            <i> </i>$500.00
                        </p>
                    </a>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>

<script>
   $(function () {
       $("#add-to-shopping-cart").on("click", function (e) {
           e.preventDefault();
           if ("@User.Identity.Name" != "") {
               $.post("/shopping-cart", { productId: @Model.ProductId, userName: "@User.Identity.Name" }, function () { 
                   alert("添加成功！");
               })
           }
           else {
               setTimeout(() => {
                   window.location.href = "/login";
               }, 300);
               alert("再好看也要先登陆哦~");
           };
       });
   });
</script>